{% extends 'base.html' %}
{% block hero_text %}<h1>Countries</h1>{% endblock %}

{% block content %}

{% if latest_deal_list %}
    <ul>
    {% for country in latest_deal_list %}
        <li><a href="{% url 'countries:country_detail' country.slug %}">{{ country.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Countries are available.</p>
{% endif %}


<div class="row">
	{% if latest_deal_list %}
	{% for country in latest_deal_list %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="{{ country.CountryGallery.image_thumbnail }}" alt="...">
      <div class="caption">
        <h3>{{ country.title }}</h3>
        <p>{{ country.header }}</p>
        <p><a href="{% url 'countries:country_detail' country.slug %}" class="btn btn-primary" role="button">More Info</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
    <p>No deals are available.</p>
{% endif %}
</div>


{% endblock %}
