{% extends 'base.html' %}
{% block hero_text %}<h1>{{ user.username }}</h1>{% endblock %}

{% block content %}
	<h2>{{ user.email }}</h2>

<div id="account.student">
 <div class="row">
    <div class="col-sm-3 col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="nav-header">Settings</li>
          <li><a href="#/home/" >Home</a></li>
          <li><a href="#/editprofile" >Student Profile</a></li>          
          <li><a href="#/messages" >Historical Messages</a></li>
        </ul>
       <hr>
   </div>
 <div class="col-sm-8 col-md-8">
 <div ui-view ></div>
</div>
 </div>
</div>



{% endblock %}
{% block extra_javascript %}
<script src="/static/js/apps/accounts/controller.js"></script>
<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="/static/js/lib/ng-table.js"></script>
 
<link rel="stylesheet" href="/static/css/ng-table.css">

<script>
  angular.element(document).ready(function() {
  	angular.bootstrap(document.getElementById('account.student'), ['account.student']);
     });
</script>
{% endblock extra_javascript %}
