{% extends 'base.html' %}
{% block hero_text %}<h1>All Deals</h1>{% endblock %}

{% block content %}
<h1>All Deals</h1>


<div class="row">
	{% if latest_deal_list %}
	{% for deal in latest_deal_list %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="{{ deal.thumbnail.url }}" alt="...">
      <div class="caption">
        <h3>{{ deal.title }}</h3>
        <p>{{ deal.header }}</p>
        <p><a href="{% url 'deals:deal_detail' deal.slug %}" class="btn btn-primary" role="button">More Info</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
    <p>No deals are available.</p>
{% endif %}
</div>


{% endblock %}
