{% extends 'base.html' %}
{% block hero_text %}<h1>{{ user.username }}</h1>{% endblock %}

{% block content %}
<div class="span12">
<h2>{{ user.email }}</h2>

<address>
  <strong>Contact Informations:</strong><br>
  <p>{{ client.address }}</p>
</address>
<br>
 <strong>Your Institutions:</strong>

  {% for q in institutions %}
    <h5><a href="{% url 'client_edit_institution' q.id %}">{{ q.name_institution }}</a></h5>
  {% endfor %} 
<br><br><br>

 <strong>Your Profile:</strong><br>

  <button type="button" class="btn btn-primary" ><a href="{% url 'client_edit_profile' %}">Edit Profile</a></button>
<br><br>

<a class="btn btn-default" href="{% url 'account_change_password' %}" role="button">Change your password</a>

</div>

{% endblock %}