{% extends 'base.html' %}
{% block hero_text %}<h1>{{ user.username }}</h1>{% endblock %}

{% block content %}
<div class="span12">
<h2>{{ user.email }}</h2>


  <div class="container">
  	<div id="account.client">
    <div>
        <ul class="nav nav-pills">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/editprofile">Edit User Profile</a></li>
            <li><a href="#/institution">My Institution</a></li>
            <li><a href="#/leads">My Leads</a></li>
            <li><a href="#/reviews">My Reviews</a></li>
        </ul>
    </div>
    <div ui-view></div>
</div>
  </div>




<a class="btn btn-default" href="{% url 'institution_edit_details' %}" role="button">Edit Details</a>

<a class="btn btn-default" href="{% url 'account_change_password' %}" role="button">Change your password</a>


{% endblock %}


{% block extra_javascript %}
<script src="/static/js/apps/accounts/client/app.js"></script>
<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script src="/static/js/lib/ng-table.js"></script>
<script src="/static/js/lib/ng-table-export.src.js"></script>
 
<link rel="stylesheet" href="/static/css/ng-table.css">

<script>
  angular.element(document).ready(function() {
  	angular.bootstrap(document.getElementById('account.client'), ['account.client']);
     });
</script>
{% endblock extra_javascript %}
